<div class="container">
  <h2>Hello World!</h2>
  <% if (viewData?.user) { %>
    <div class="row">
      <span>Logged in as <%= viewData.user.displayUsername %></span>
    </div>
    <div class="row">
      <form action="./auth/logout" method="post">
        <button class="waves-effect waves-teal btn" type="submit">Sign out</button>
      </form>
    </div>
  <% } %>
</div>
<div class="container">
  <hr />
</div>
