<div class="container">
  <% if (viewData?.user) { %>
    <div class="row">
      <span>Logged in as <%= viewData.user.displayUsername %></span>
    </div>
    <div class="row">
      <form action="./auth/logout" method="post">
        <button class="waves-effect waves-teal btn" type="submit">Sign out</button>
      </form>
    </div>
    <div class="container">
      <div class="row col s12">
        <form action="./" method="post">
          <div class="input-field col s8">
            <input type="text" name="title" id="titleInput">
            <label for="titleInput">New ToDo</label>
          </div>
          <button class="waves-effect waves-teal btn" type="submit">Add</button>
        </form>
      </div>
    </div>
  <% } %>
</div>
<div class="container">
  <hr />
</div>
