<div class="container">
  <% if (viewData?.user) { %>
    <div class="row col s12">
      <form action="./" method="post">
        <div class="input-field col s9">
          <input type="text" name="title" id="titleInput" required>
          <label for="titleInput">New ToDo</label>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-teal btn" type="submit">Add</button>
        </div>
      </form>
    </div>
  <% } %>
  <% if (viewData?.todos?.length) { %>
    <% for (const todo of viewData.todos) { %>
      <div class="todo-container row" data-id="<%= todo.id %>">
        <form action="./<%= todo.id %>/toggle" method="post" class="todo-form col s9">
          <label>
            <% if (todo.completed) { %>
              <input type="checkbox" name="completed" id="completedInput" class="todo-checkbox filled-in" checked>
            <% } else { %>
              <input type="checkbox" name="completed" id="completedInput" class="todo-checkbox filled-in">
            <% } %>
            <span class="black-text"><%= todo.title %></span>
          </label>
        </form>
        <a class="waves-effect waves-light btn" href="./<%= todo.id %>/update">Edit</a>
      </div>
    <% } %>
  <% } %>
</div>
<div class="container">
  <hr />
</div>
