<div class="container">
  <% if (viewData?.user) { %>
    <div class="row col s12">
      <form action="./" method="post">
        <div class="input-field col s9">
          <input type="text" name="title" id="titleInput" required>
          <label for="titleInput">New ToDo</label>
        </div>
        <div class="col s3">
          <button class="waves-effect waves-teal btn" type="submit">Add</button>
        </div>
      </form>
    </div>
  <% } %>
  <% if (viewData?.todos?.length) { %>
    <% for (const todo of viewData.todos) { %>
      <div class="todo-container">
        <form action="./<%= todo.id %>/update" method="post">
          <label for="completedInput">
            <input type="checkbox" name="completed" id="completedInput" checked="<%= todo.completed %>" class="filled-in">
            <span><%= todo.title %></span>
          </label>
        </form>
      </div>
    <% } %>
  <% } %>
</div>
<div class="container">
  <hr />
</div>
