<div class="container">
  <% if (viewData?.todos) { %>
    <div class="container">
      <div class="row col s12">
        <form action="./" method="post">
          <div class="input-field col s8">
            <input type="text" name="title" id="titleInput">
            <label for="titleInput">New ToDo</label>
          </div>
          <button class="waves-effect waves-teal btn" type="submit">Add</button>
        </form>
      </div>
    </div>
  <% } %>
</div>
<div class="container">
  <hr />
</div>
