<footer class="page-footer green lighten-2 black-text">
  <div class="container">
    <div class="row">
      <p>Code licensed MIT</p>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>