<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html {
      font-family: sans-serif;
      height: 100%;
      text-align: center;
      width: 100%;
    }
    body {
      min-height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
    }
    .error-container {
      position:absolute;
      top:40%;
      height:10em;
      margin-top:-5em
    }
    .error-header {
      font-size: 2em;
      font-weight: 400;
    }
    .error-text {
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="error-container">
      <h1 class="error-header">404 Not Found</h1>
      <p class="error-text">The requested page does not exist.</p>
  </div>
</body>

</html>